@use "/src/styles/colors" as color;
@import "/src/styles/mixin";

.container {
  width: 100vw;
  height: 100vh;
  padding: 2rem 10%;
  background-color: color.$primary-color;

  div {
    width: 100%;
    max-width: 40rem;
    height: 60%;
    margin: 8rem auto 0;
    padding: 1rem;
    @include center-both;
    flex-direction: column;
    background-color: color.$secondary-color;
    border-radius: 6px;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

    h1 {
      @include text-styles(2rem, 500, color.$error-color);
    }

    p {
      margin: 1rem 0;
      @include text-styles(1rem, 500, color.$brand-color);
    }
  }
}
