@use "/src/styles/colors" as color;
@import "/src/styles/mixin";

.patient_container {
  width: 90%;
  height: calc(100vh - 5rem - 6rem);
  margin: 1rem auto;

  .patient_info {
    width: 100%;
    padding-left: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 0.5rem;
    @include text-styles(1.5rem, 500, color.$gray-7);
  }

  .patient_image {
    width: 100%;
    height: 60%;
    margin: 1rem 0;
    padding: 1.5rem;
    border: 2px solid color.$gray-7;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1rem;
    overflow-y: auto;
  }

  .patient_action {
    width: 100%;
    display: flex;
    gap: 1rem;

    &_text {
      margin-right: 0.5rem;
    }
  }
}

@media screen and (min-width: 643px) {
  .patient_container {
    .patient_info {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 3rem;
    }

    .patient_image {
      height: 80%;
    }
  }
}
