@use "/src/styles/colors" as color;
@import "/src/styles/mixin";

.previewModal_container {
  width: 100%;
  height: 90%;

  .previewModal_del {
    height: 2rem;
    text-align: end;
    align-items: center;
  }

  .previewModal_image {
    @include center-both;
    img {
      width: 100%;
      max-width: 30rem;
      max-height: 20rem;
    }
  }
}
