// colors
$brand-color: #23b288;
$secondary-color: #d5fef4;
$primary-color: #292418;
$success-color: #2d78d4;
$warning-color: #f5b216;
$error-color: #fc5a5a;

// grayscale color
$gray-11: #171717;
$gray-10: #171725;
$gray-9: #44444f;
$gray-8: #696974;
$gray-7: #92929d;
$gray-6: #b5b5be;
$gray-5: #d5d5dc;
$gray-4: #e2e2ea;
$gray-3: #f1f1f5;
$gray-2: #fafafb;
$gray-1: #ffffff;
