@use "/src/styles/colors" as color;
@import "/src/styles/mixin";

.header_container {
  width: 100vw;
  height: 4rem;
  padding: 0.5rem 3rem;
  display: flex;
  justify-content: space-between;
  background-color: color.$brand-color;
  @include text-styles(1.5rem, 500, color.$gray-1);

  .title {
    @include center-both;
    &_img {
      display: none;
    }
  }

  .user {
    @include center-both;

    &_title {
      display: none;
    }
  }
}

@media screen and (min-width: 400px) {
  .header_container {
    .title {
      gap: 1rem;
      &_img {
        display: flex;
      }
    }
    .user {
      &_title {
        display: inline;
      }
    }
  }
}
