@use "/src/styles/colors" as color;
@import "/src/styles/mixin";

.navigation_container {
  width: 100vw;
  height: 4rem;
  padding: 0.5rem 3rem;
  display: flex;
  justify-content: space-between;
  background-color: color.$brand-color;
  @include text-styles(1.5rem, 500, color.$gray-1);

  .navigation_back {
    @include center-both;
    gap: 1rem;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
      color: color.$primary-color;
    }
  }

  .navigation_send {
    @include center-both;
    gap: 1rem;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
      color: color.$primary-color;
    }
  }
}
