@use "/src/styles/colors" as color;
@import "/src/styles/mixin";

.table_row {
  width: 100%;
  background-color: color.$secondary-color;

  &:hover {
    background-color: color.$error-color;
  }
}

td:first-child,
th:first-child {
  position: sticky;
  left: 0;
  background-color: color.$gray-7;
}

.table_cell {
  @include text-styles(1.25rem, 500, color.$gray-10);
  text-align: center;
  padding: 0 0.5rem;

  &_photo {
    width: 2.5rem;
  }

  &_number {
    min-width: 6rem;
  }

  &_text {
    min-width: 8rem;
  }

  &_date {
    min-width: 8.5rem;
  }
}

.photo {
  width: 2rem;
  height: 1.5rem;
  cursor: pointer;

  &:hover {
    transform: scale(1.3);
  }
}
