@use "/src/styles/colors" as color;
@import "/src/styles/mixin";

.tableContainer {
  width: 90%;
  max-height: 50vh;
  margin: 0 auto;
  border: 1px solid color.$gray-10;
  overflow-y: auto;

  .displayCase_container {
    width: 100%;

    .sticky {
      position: sticky;
      top: 2px;

      .table_header {
        width: 100%;
        background-color: color.$gray-7;
      }
    }
  }
}
