@use "/src/styles/colors" as color;
@import "/src/styles/mixin";

.tableContainer {
  width: 90%;
  max-height: calc(75vh - 9rem);
  margin: 0 auto;
  border: 1px solid color.$gray-10;
  background-color: color.$secondary-color;
  overflow-y: auto;

  .displayCase_container {
    width: 100%;

    .sticky {
      position: sticky;
      top: 2px;
      z-index: 10;

      .table_header {
        width: 100%;
        background-color: color.$gray-7;
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .tableContainer {
    max-height: 50vh;
  }
}
