@use "/src/styles/colors" as color;
@import "/src/styles/mixin";

.searchCase_container {
  width: 90%;
  margin: 1rem auto;

  .optionContainer {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    gap: 1rem;

    .caseNumber {
      width: 60%;
      min-width: 15rem;
    }

    .date {
      width: 60%;
      min-width: 15rem;
    }
  }

  .actions {
    display: flex;
    justify-content: flex-end;

    &_box {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 0.5rem;
    }
  }
}

@media screen and (min-width: 600px) {
  .searchCase_container {
    .optionContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      .caseNumber {
        width: 40%;
      }
    }

    .actions {
      &_box {
        width: 70%;
      }
    }
  }
}
