@use "/src/styles/colors" as color;
@import "/src/styles/mixin";

.cameraModal_container {
  width: 100%;

  .cameraModal_del {
    height: 2rem;
    text-align: end;
    align-items: center;
  }

  .cameraModal_video {
    @include center-both;
    position: relative;
    video {
      width: 100%;
      max-height: 21rem;
    }

    .video_btn {
      position: absolute;
      bottom: 0.25rem;
      right: 0.5rem;
    }
  }

  .cameraModal_action {
    height: 100%;
    margin-top: 1rem;
    @include center-both;
    .action_image {
      width: 60%;
      text-align: center;

      canvas {
        width: 100%;
        max-width: 12rem;
        max-height: 9rem;
      }
    }

    .action_button {
      width: 40%;
      @include center-both;
      flex-direction: column;
      gap: 1rem;
    }
  }
}

@media screen and (min-width: 431px) {
  .cameraModal_container {
    .cameraModal_video {
      .video_btn {
        position: absolute;
        bottom: 0.5rem;
        right: 1.5rem;
      }
    }
  }
}

@media screen and (min-width: 1100px) {
  .cameraModal_container {
    .cameraModal_video {
      .video_btn {
        position: absolute;
        bottom: 0.5rem;
        right: 3.5rem;
      }
    }
  }
}

@media screen and (min-width: 1232px) {
  .cameraModal_container {
    .cameraModal_video {
      .video_btn {
        position: absolute;
        bottom: 0.5rem;
        right: 15%;
      }
    }
  }
}

@media screen and (min-width: 1441px) {
  .cameraModal_container {
    .cameraModal_video {
      .video_btn {
        position: absolute;
        bottom: 0.5rem;
        right: 20%;
      }
    }
  }
}
