@use "/src/styles/colors" as color;
@import "/src/styles/mixin";

.btn__pill {
  width: 60%;
  height: 2rem;
  @include center-both;
  border: none;
  border-radius: 30px;
  background-color: color.$gray-7;
  @include text-styles(1.5rem, 500, color.$gray-2);
  cursor: pointer;

  &:hover,
  &:active {
    background-color: color.$brand-color;
    color: color.$gray-9;
  }
}

.btn__camera {
  width: 100%;
  background-color: transparent;
  border: none;
  @include text-styles(1.5rem, 500, color.$gray-4);
  cursor: pointer;

  &:hover,
  &:active {
    transform: scale(1.3);
    color: color.$error-color;
  }
}

.btn__user {
  width: 100%;
  background-color: transparent;
  border: none;
  @include text-styles(1.5rem, 500, color.$gray-2);
  cursor: pointer;

  &:hover,
  &:active {
    transform: scale(1.1);
    color: color.$primary-color;
  }
}

.btn__text {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid color.$gray-7;
  @include text-styles(1.25rem, 500, color.$gray-7);
  cursor: pointer;

  &:hover,
  &:active {
    transform: scale(1.1);
    color: color.$brand-color;
  }
}

.btn__card {
  background-color: transparent;
  border: none;
  @include text-styles(1.25rem, 500, color.$gray-7);
  cursor: pointer;

  &:hover,
  &:active {
    transform: scale(1.1);
    color: color.$error-color;
  }
}

.btn__logout {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  @include text-styles(1.25rem, 500, color.$gray-7);
  cursor: pointer;

  &:hover,
  &:active {
    transform: scale(1.1);
    color: color.$error-color;
  }
}
